In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler, StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score, confusion_matrix, ConfusionMatrixDisplay, classification_report, accuracy_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn import tree
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.utils import resample
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.svm import SVC

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

   Unnamed: 0  age    workclass  ...  hours.per.week native.country  income
0         318   34      Private  ...              40  United-States   <=50K
1       11608   32      Private  ...              37  United-States   <=50K
2        2362   59    Local-gov  ...              60  United-States    >50K
3       17387   44  Federal-gov  ...              40  United-States   <=50K
4       22358   27            ?  ...              25    Philippines   <=50K

[5 rows x 16 columns]

In [7]:
df = df.drop('Unnamed: 0', axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             29305 non-null  int64
 1   workclass       29305 non-null  object
 2   fnlwgt          29305 non-null  int64
 3   education       29305 non-null  object
 4   education.num   29305 non-null  int64
 5   marital.status  29305 non-null  object
 6   occupation      29305 non-null  object
 7   relationship    29305 non-null  object
 8   race            29305 non-null  object
 9   sex             29305 non-null  object
 10  capital.gain    29305 non-null  int64
 11  capital.loss    29305 non-null  int64
 12  hours.per.week  29305 non-null  int64
 13  native.country  29305 non-null  object
 14  income          29305 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.4+ MB

In [9]:
cat = df[['workclass','education','marital.status','occupation','relationship','race','sex','native.country','income']]

In [10]:
num = df[['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']]

In [11]:
df['workclass'].unique()

array(['Private', 'Local-gov', 'Federal-gov', '?', 'Self-emp-not-inc',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [12]:
df['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Assoc-acdm', 'Some-college',
       '11th', '10th', 'Assoc-voc', 'Preschool', '7th-8th', 'Doctorate',
       '5th-6th', 'Prof-school', '1st-4th', '9th', '12th'], dtype=object)

In [13]:
df['marital.status'].unique()

array(['Never-married', 'Divorced', 'Married-civ-spouse', 'Separated',
       'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [14]:
df['occupation'].unique()

array(['Machine-op-inspct', 'Other-service', 'Prof-specialty',
       'Craft-repair', '?', 'Protective-serv', 'Exec-managerial', 'Sales',
       'Farming-fishing', 'Transport-moving', 'Handlers-cleaners',
       'Adm-clerical', 'Tech-support', 'Priv-house-serv', 'Armed-Forces'],
      dtype=object)

In [15]:
df['relationship'].unique()

array(['Not-in-family', 'Unmarried', 'Husband', 'Own-child',
       'Other-relative', 'Wife'], dtype=object)

In [16]:
df['race'].unique()

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [17]:
df['race'].unique()

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [18]:
df['native.country'].unique()

array(['United-States', 'Philippines', 'Puerto-Rico', 'Mexico', 'Cuba',
       'India', 'Jamaica', 'South', 'Laos', 'England', '?', 'El-Salvador',
       'Germany', 'Thailand', 'Poland', 'China', 'Greece',
       'Trinadad&Tobago', 'Canada', 'France', 'Dominican-Republic',
       'Columbia', 'Nicaragua', 'Haiti', 'Cambodia', 'Peru', 'Taiwan',
       'Hungary', 'Italy', 'Japan', 'Vietnam', 'Honduras', 'Portugal',
       'Guatemala', 'Iran', 'Ecuador', 'Scotland', 'Yugoslavia', 'Hong',
       'Outlying-US(Guam-USVI-etc)', 'Ireland', 'Holand-Netherlands'],
      dtype=object)

In [19]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [20]:
count_interrogantes_por_columna = cat.apply(lambda x: x.str.contains('\?').sum())
print(count_interrogantes_por_columna)

workclass         1641
education            0
marital.status       0
occupation        1648
relationship         0
race                 0
sex                  0
native.country     524
income               0
dtype: int64

In [21]:
cat = df[['workclass','education','marital.status','occupation','relationship','race','sex','native.country']]
num = df[['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']]
target = df['income'].replace({'<=50K': 0, '>50K': 1})

C:\Users\Master\AppData\Local\Temp\ipykernel_13204\3931959300.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  target = df['income'].replace({'<=50K': 0, '>50K': 1})

In [22]:
# Inicializar el MinMaxScaler
scaler = MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(num), columns=num.columns)

# Mostrar el DataFrame escalado
print(df_scaled)

            age    fnlwgt  ...  capital.loss  hours.per.week
0      0.232877  0.133801  ...      0.459366        0.397959
1      0.205479  0.064609  ...      0.000000        0.367347
2      0.575342  0.192858  ...      0.000000        0.602041
3      0.369863  0.061092  ...      0.000000        0.397959
4      0.136986  0.121137  ...      0.000000        0.244898
...         ...       ...  ...           ...             ...
29300  0.054795  0.199555  ...      0.000000        0.193878
29301  0.315068  0.144032  ...      0.000000        0.040816
29302  0.191781  0.162572  ...      0.340909        0.551020
29303  0.328767  0.018538  ...      0.000000        0.234694
29304  0.520548  0.095896  ...      0.453857        0.500000

[29305 rows x 6 columns]

In [23]:

# Realizar One-Hot Encoding para las columnas categóricas 'education' y 'gender'
df_encoded = pd.get_dummies(cat, drop_first=False)

# Mostrar el DataFrame resultante
print(df_encoded)

       workclass_?  ...  native.country_Yugoslavia
0            False  ...                      False
1            False  ...                      False
2            False  ...                      False
3            False  ...                      False
4             True  ...                      False
...            ...  ...                        ...
29300        False  ...                      False
29301         True  ...                      False
29302        False  ...                      False
29303        False  ...                      False
29304        False  ...                      False

[29305 rows x 102 columns]

In [24]:
df_combined = pd.concat([df_scaled, df_encoded,target], axis=1)

In [25]:
df_combined.head()

        age    fnlwgt  ...  native.country_Yugoslavia  income
0  0.232877  0.133801  ...                      False       0
1  0.205479  0.064609  ...                      False       0
2  0.575342  0.192858  ...                      False       1
3  0.369863  0.061092  ...                      False       0
4  0.136986  0.121137  ...                      False       0

[5 rows x 109 columns]

In [26]:
X = df_combined.drop('income',axis = 1)
y = df_combined['income']

In [27]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
svm_classifier = SVC(kernel='linear')  # Puedes cambiar el kernel a 'rbf', 'poly', etc.
svm_classifier.fit(X_train, y_train)

# Paso 5: Realizar predicciones con el conjunto de prueba
y_pred = svm_classifier.predict(X_test)

# Paso 6: Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy del modelo: {accuracy * 100:.2f}%')

# Reporte de clasificación
print("\nReporte de clasificación:")
print(classification_report(y_test, y_pred))

Accuracy del modelo: 85.00%

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.88      0.94      0.91      4471
           1       0.74      0.57      0.64      1390

    accuracy                           0.85      5861
   macro avg       0.81      0.75      0.77      5861
weighted avg       0.84      0.85      0.84      5861